.everything {
  display:flex;
  flex-direction: row;
  align-content: center;
}

:link { color: #0000EE; }
:visited { color: #551A8B; }
:link:active, :visited:active { color: #FF0000; }
:link, :visited { text-decoration: underline; cursor: pointer; }